@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */
body {
  overflow-x: hidden;
}

/* scrollbar example */
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: #000814;
}
*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
}
